extends layout

append head
  //- link(rel="stylesheet" href="/stylesheets/index.css")
  script(src="/javascripts/questions.js" type="module" defer)

block content
  if user
    data(id='data' data-is-user='true' data-user-id=user.id data-owner-id=question.userId)
  else
    data(id='data' data-is-user='false')
  div.question-div
    p= question.title
    p.question-data= question.body
    if user && question.userId === user.id
      .edit-delete-buttons
          form(action=`/questions/${question.id}/edit` method='GET')
              button.edit-button Edit question
          form(action=`/questions/${question.id}/delete` method='POST')
              button.delete-button Delete question
    div(id='answers-container')
    a(href=`/categories/${encodeURIComponent(question.Category.name.toLowerCase())}` class='category-name')= question.Category.name
    div.question-details
        p.answer-amount= `${question.Answers.length} Answers`
        p.question-owner= `${question.User.username}`

